


.container-fluid {
	width: 98%;
	margin: 0 auto;
}

div#viz4-1, .secondary-bar {
	height: 30em;
	margin-top: 2em;
}

.secondary-bar {
	height: 20em;
	margin-top: -2em;
}

h2 {
	margin-left: 1em;
	margin-top: 1em;
}
/*Bars proper*/

.bar--positive {
	fill: #D22322;
	opacity: 0.8;
}

.bar--negative {
	fill: #C6C6C6;
	opacity: 0.8;
}

/*Axes and zero line*/
line, .axis path  {
	stroke: #B0B0B0;
}

/*Axis text */
.axis text {
	fill: #666666;
}

/*Chart text*/
text.label {
	fill: #666666;
}