


.container-fluid {
	width: 98%;
	margin: 0 auto;
}

div#viz4-1, .secondary-bar {
	height: 30em;
	margin-top: 2em;
}

.secondary-bar {
	height: 20em;
	margin-top: -2em;
}

h2 {
	margin-left: 1em;
	margin-top: 1em;
}

h4 {
	margin-top: 1em;
	margin-left: 2em;
}

div.sub-title {
	margin-bottom: 2.5em;
}

/*svg*/
svg {
	/*background: #F2F2F2;*/
}


/*Tooltip*/
.d3-tip {
	pointer-events: none;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*Bars proper*/

.bar--positive {
	fill: #D22322;
	opacity: 0.8;
}

.bar--negative {
	fill: #C6C6C6;
	opacity: 0.8;
}

/*Axes and zero line*/
line, .axis path  {
	stroke: #B0B0B0;
}

/*Axis text */
.axis text {
	fill: #666666;
}

/*Chart text*/
text.label {
	fill: #666666;
}